
.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: blueviolet;
  text-align: center;
}

.box {
  background-color: #dbecf1;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 30px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.box{
  border: 2px solid black;
  width: 50%;
  padding: 20px;
  margin: auto;
  border-radius: 10px;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

label {
  display: inline-block;
  width: 250px;
  font-weight: bold;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="date"],
input[type="time"],
input[type="number"],
select,
textarea
.form-group {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 3px;
  width: 40%;
  background-color: #fff;
  margin-left: 10px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

textarea {
  resize: vertical;
  width: 65%;
  margin-left: 10px;
}

input[type="submit"] {
  background-color: #9d9ef6;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 12px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #4d8aea;
}

#ghst{
  margin: 10px;
  width: 450px;
}

.app{
  flex: 1;
  width: 100%;
}

h1{
  text-align: center;
}
.appimg{
  text-align: center;
}
.radio-button-container { 
  display: flex;
  align-items: center;
  margin-left: 30px;
  gap: 2px;
 } 

.radio-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.radio-button__input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.radio-button__label {
  display: inline-block;
  padding-left: 30px;
  margin-bottom: 10px;
  position: relative;
  font-size: 15px;
  color: #000000;
  font-weight: 600;
  width: 100px;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.radio-button__custom {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #555;
  transition: all 0.3s ease;
}

.radio-button__input:checked + .radio-button__label .radio-button__custom {
  background-color: #4c8bf5;
  border-color: transparent;
  transform: scale(0.8);
  box-shadow: 0 0 20px #4c8bf580;
}

.radio-button__input:checked + .radio-button__label {
  color: #4c8bf5;
}

.radio-button__label:hover .radio-button__custom {
  transform: scale(1.2);
  border-color: #4c8bf5;
  box-shadow: 0 0 20px #4c8bf580;
}
#sucsessapp{
  font-size: larger;
  text-align: center;
  align-items: center;
}
.cssbuttons-io-button {
  background: #A370F0;
  float: right;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #714da6;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  margin-left: 600px;
  padding-right: 3.3em;
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #7b52b9;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}

.submitbtn {
  font-family: inherit;
  font-size: 20px;
  background: #7b52b9;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  height: 2.2em;
  margin-left: 600px;
  transition: all 0.2s;
}

.submitbtn span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.submitbtn svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.submitbtn:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.submitbtn:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.submitbtn:hover span {
  transform: translateX(5em);
}

.submitbtn:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

