.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.popup-content h2 {
  margin-top: 0;
}

.popup-content form {
  display: flex;
  flex-direction: column;
}

.popup-content label {
  margin-bottom: 10px;
}

.popup-content input {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.popup-content button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: lightblue;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
